Django==3.0.7
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
django-cors-headers==3.3.0
beautifulsoup4==4.9.1
requests==2.20.1
elasticsearch==7.8.0
drf_util==0.0.27
python-dotenv==0.13.0
six==1.15.0
sklearn==0.0.0
